.LandingPage {
  height: 100vh;
  background-color: #f0f0f0;
}

.LandingPage h1 {
  font-size: 3rem;
  color: #333;
}

.LandingPage p {
  font-size: 1.5rem;
  color: #666;
}

.LandingPage a {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #007bff;
  text-decoration: none;
}

.LandingPage a:hover {
  text-decoration: underline;
}


.MainContent {
  max-width: 100%;
  margin: 0 auto;
 
  text-align: center;
}

.MainContent section  .Illustration {


 

}

.MainContent  .imagesSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  } 
}

.HeroSection {
 
 

  width: 100%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;

  h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
}


.CardContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px; 
}


.AboutSection{
  margin: 50px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  

  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
  }
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #eee;
  }

}

.ContactSection{
  margin: 50px 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  

  h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }

  li {
    list-style: none;
    margin: 10px 0;
    font-size: 1.2rem;
    color: #666;
  } 

}