.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #d9d9d9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Header img {
  height: 49px;
  object-fit: contain; 
}

.Header .Link {
  margin: 10px;
  padding: 5px 10px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #3876f2;
  border: 1px solid #3876f2;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.Header .Link:hover {
  background-color: #0056b3;
}
.Header h1 {
  font-size: 1.5rem;
  color: #333;
}
