/* === Sidebar === */
.sidebar {
  width: 230px;
  background-color:var(--primary-color);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  padding:10px;
  display: flex;
  
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo img {
  background-color: #fff;
  border-radius: 50%;
  padding: 2px;
  width:40px;
  object-fit: contain;
}

.menu {
  display: flex;
  flex-direction: column;
  padding:10px;
}

.menu-item {
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  display:flex;
  gap: 10px;
  font-size: larger;
  align-items: center;
  transition: background 0.3s;
}

.menu-item:hover,
.menu-item.active {
  background:var(--bg1);
  border-radius: 8px;
  color: black;
}

.logout-btn {
  margin: 20px;
  padding: 10px;
  border: none;
  background: #002266;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  
}

.logout-btn:hover {
  background: #0044aa;
}