@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: "Open";
  }

  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  /* Text Gradient CSS */
  .text-gradient {
    color: #3983ae;
    background-image: linear-gradient(
      45deg,
      #3983ae,
      #3983ae 50%,
      #0e36ad 100%,
      #11161d 150%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  .bg-primary {
    background-color: #1e40af; /* Example primary color */
  }
  .text-primary {
    color: #1e40af; /* Example primary color */
  }
}
