* {
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }

:root{
  --primary-font:'Open Sans', sans-serif;

}


body{
  height:100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #EAEAF5;
  font-family: var(--primary-font);
}