
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-default:#fff;
  --bg1: #f0f0f0;
  --primary-font: "Open Sans", sans-serif;
  --title-font: "Open", sans-serif;
  --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --primary-color: #3876f2;
  --secondary-color: #a0c1f7;
  --radius: 0.625rem;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--bg1);
  font-family: var(--primary-font);
}
